<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>
    <main>
        <form class="signup-form" action="/signup" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="form-control">
                <label for="usrName">Nome</label>
                <input type="string" name="usrName" id="usrName" required>
            </div>
            <div class="form-control">
                <label for="email">E-Mail</label>
                <input type="email" name="email" id="email" required>
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required>
            </div>
            <div class="form-control">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" name="confirmPassword" id="confirmPassword" required>
            </div>
            <button class="btn" type="submit">Signup</button>
        </form>
        <br>
        <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
    </main>
    
<%- include('../includes/end.ejs') %>