<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
    <link rel="stylesheet" href="/css/login.css">
    
</head>

<body>
   <%- include('../includes/navigation.ejs') %>
    <div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-60 p-b-54">
				<form class="login100-form validate-form" action="/signup" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
					<span class="login100-form-title p-b-49">Registrati</span>
					<% if (errorMessage) { %>
						<div class="flex-c-m">
							<div class="popout error-message"><%= errorMessage %></div>
                        </div>
					<% } %>
                    <div class="wrap-input100 validate-input m-b-23">
                        <span class="label-input100">Nome</span>
                        <input
                            class="<%= validationErrors.find(e => e.param == 'nome') ? 'input100-invalid' : 'input100' %>"
                            placeholder="Type your Name" required
                            type="string" name="nome" id="nome" value="<%= oldInput.nome %>">
                        <span class="focus-input100" data-symbol="&#xf206;"></span>
                    </div>        
                    <div class="wrap-input100 validate-input m-b-23">
                        <span class="label-input100">Cognome</span>
                        <input
                            class="<%= validationErrors.find(e => e.param == 'cognome') ? 'input100-invalid' : 'input100' %>"
                            placeholder="Type your Surname" required
                            type="string" name="cognome" id="cognome" value="<%= oldInput.cognome %>">
                        <span class="focus-input100" data-symbol="&#xf206;"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-23">
                        <span class="label-input100">Username</span>
                        <input
                            class="<%= validationErrors.find(e => e.param == 'usrName') ? 'input100-invalid' : 'input100' %>"
                            placeholder="Type your Username" required
                            type="string" name="usrName" id="usrName" value="<%= oldInput.usrName %>">
                        <span class="focus-input100" data-symbol="&#xf209;"></span>
                    </div>        
                    <div class="wrap-input100 validate-input m-b-23">
                        <span class="label-input100">E-mail</span>
                        <input
                            class="<%= validationErrors.find(e => e.param == 'email') ? 'input100-invalid' : 'input100' %>"
                            placeholder="Type your e-mail" required
                            type="email" name="email" id="email" value="<%= oldInput.email %>">
                        <span class="focus-input100" data-symbol="&#xf200;"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-23">
                        <span class="label-input100">Password</span>
                        <input 
                            class="<%= validationErrors.find(e => e.param == 'password') ? 'input100-invalid' : 'input100' %>"
                            placeholder="Type your password" required
                            type="password" name="password" id="password" value="<%= oldInput.password %>">
                        <span class="focus-input100" data-symbol="&#xf190;"></span>
                    </div>
                    <div class="wrap-input100 validate-input">
                        <span class="label-input100">Confirm Password</span>
                        <input 
                            class="<%= validationErrors.find(e => e.param == 'confirmPassword') ? 'input100-invalid' : 'input100' %>"
                            placeholder="Confirm your password" required
                            type="password" name="confirmPassword" id="confirmPassword" value="<%= oldInput.confirmPassword %>">
                        <span class="focus-input100" data-symbol="&#xf190;"></span>
                    </div>
                    <div class="validate-input m-t-30 text-center">
                        <input 
                            type="checkbox" name="acceptTerms" id="acceptTerms" required>
                        <a class="noTextDec <%= validationErrors.find(e => e.param == 'acceptTerms') ? 'invalid-checkbox' : '' %>" 
                            href="terms" target="_blank">
                            Accetta i termini e le condizioni!</a>
                    </div>
                    <br>
                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn">Registrati</button>
                        </div>
                    </div>
                    <div class="txt1 text-center p-t-35 p-b-15">
                        <span>Or Sign Up Using</span>
                    </div>
                    <div class="flex-c-m">
                        <!-- <a href="#" class="login100-social-item bg1">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="#" class="login100-social-item bg2">
                            <i class="fa fa-twitter"></i>
                        </a> -->
                        <a href="/login/federated/google" class="login100-social-item bg3">
                            <i class="fa fa-google"></i>
                        </a>
                    </div>
                    <div class="flex-col-c">
						<span class="txt1 p-b-12">Or</span>
						<a href="/login" class="txt2 noTextDec">Login</a>
					</div>
                </form>
            </div>
        </div>
    </div>
    
<%- include('../includes/end.ejs') %>