<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/match.css">

</head>

<body style="background-image: linear-gradient(125deg, #2f1cbb, #114766);">
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (us.length > 0) { %>
            <div class="grid">
                <% for (let users of us) { %>
                    <article class="card match-item" style="background-color: white;" onclick="location.assign('/utente/<%= users.usrName %>')">
                        <header class="card__header">
                            <h1 class="match__title"><%= users.nome %></h1>
                            <h2 class="match__playerCount" style="color: #513dff;"><%= users.cognome %></h2>
                        </header>
                        <div class="card__image">
                            <img src="../img/football-players.png" class="rounded-circle" alt="<%= users.usrName %>">
                        </div>
                        <div class="card__content">
                            <h2 class="match__playerCount" style="color: #513dff;"><%= users.email %></h2>
                            <h2 class="match__playerCount">Email!</h2>
                            <br>
                        </div>
                        <div class="card__actions">
                            <a href="/utente/<%= users.usrName %>" class="btn">Profilo Utente</a>
                        </div>
                        <br>
                    </article>
                <% } %>
            </div>
            <%- include('../includes/pagination.ejs', {currentPage: currentPage, nextPage: nextPage, previousPage: previousPage, lastPage: lastPage, hasNextPage: hasNextPage, hasPreviousPage: hasPreviousPage}) %>
        <% } else { %>
            <h1>No User Found!</h1>
        <% } %>
    </main>

<%- include('../includes/end.ejs') %>