<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/match.css">

</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (ms.length > 0) { %>
            <div class="grid">
            <% for (let match of ms) { %>
                <article class="card match-item" onclick="location.assign('/matches/<%= match._id %>')">
                    <header class="card__header">
                        <h1 class="match__title">
                            <%= match.title %>
                        </h1>
                    </header>
                    <div class="card__image">
                        <img src="https://cdn3.iconfinder.com/data/icons/choosesport/png/512/football.png" alt="<%= match.title %>">
                    </div>
                    <div class="card__content">
                        <% if (match.currentPlayers == match.totalPlayers) { %>
                            <h2 class="match__playerCount" style="color: #513dff;">The match is full!</h2>
                        <% } else { %>
                            <h2 class="match__playerCount">We search:</h2>
                                <h2 class="match__playerCount__in" style="color: #513dff;"><%= match.totalPlayers - match.currentPlayers %></h2>
                            <h2 class="match__playerCount"> players!</h2>
                        <% } %>
                        <br>
                        <h2 class="match__place">
                            <%= match.placeName %>
                        </h2>
                        <h2 class="match__place">
                            <%= match.time.getDate().toString() + "-" + (match.time.getMonth()+1).toString() + "-" + match.time.getFullYear().toString() %>
                        </h2>
                        <h2 class="match__price">
                            <%= match.price %>€
                        </h2>
                        <br>
                        <p class="match__description">
                            <%= match.description %>
                        </p>
                    </div>
                    <div class="card__actions">
                        <a href="/matches/<%= match._id %>" class="btn">Details</a>
                        <% if (isAuthenticated) { %>
                            <% if (match.currentPlayers != match.totalPlayers) { %>
                                <a href="/matches/<%= match._id %>/join" class="btn">Join</a>
                            <% } %>
                        <% } %>
                    </div>
                    <br>
                </article>
            <% } %>
            </div>
        <% } else { %>
            <h1>No matches Found!</h1>
        <% } %>
    </main>

    <script>
        function animateValue(obj, start, end, duration) {
            let startTimestamp = null;
            const step = (timestamp) => {
            if (!startTimestamp) startTimestamp = timestamp;
            const progress = Math.min((timestamp - startTimestamp) / duration, 1);
            obj.innerHTML = Math.floor(progress * (end - start) + start);
            if (progress < 1) {
                window.requestAnimationFrame(step);
            }
            };
            window.requestAnimationFrame(step);
        }
        window.addEventListener("load", () => { 
            let list = document.getElementsByClassName("match__playerCount__in");
            for (var i = 0; i < list.length; i++) {
                list[i].id = "match__playerCount_" + (i + 1);
                const counter = document.getElementById(list[i].id);
                animateValue(counter, 0, counter.innerHTML, 1000);
            }
        });
    </script>

<%- include('../includes/end.ejs') %>