<div class="backdrop"></div>

<script src="/js/logoutButton.js"></script>

<header class="main-header">
    <button id="side-menu-toggle">Menù</button>
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/matches' ? 'active' : '' %>" href="/matches">Matches</a>
            </li>
            <% if (isAuthenticated) { %>
                <li class="main-header__item">
                    <a class="<%= path === '/add-match' ? 'active' : '' %>" href="/add-match">Add Match</a>
                </li>
                <li class="main-header__item">
                    <a class="<%= path === '/mymatches' ? 'active' : '' %>" href="/mymatches">My Matches</a>
                </li>
                <% if (isAdministrator) { %>
                    <li class="main-header__item">
                        <a class="<%= path === '/listMatch' ? 'active' : '' %>" href="/listMatch">All Matches</a>
                    </li>
                    <li class="main-header__item">
                        <a class="<%= path === '/listUser' ? 'active' : '' %>" href="/listUser">All Users</a>
                    </li>
                <% } %>
            <% } %>
            
        </ul>
        <ul class="main-header__item-list">
            <% if (!isAuthenticated) { %>
                <li class="main-header__item">
                    <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
                </li>
                <li class="main-header__item">
                    <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Signup</a>
                </li>
            <% } else { %>
                <li class="main-header__item">
                    <a class="<%= path === '/profile' ? 'active' : '' %>" href="/myprofile">My Profile</a>
                </li>
                <li class="main-header__item">
                    <button id="logoutButton">Logout</button>
                </li>
            <% } %>
        </ul>
    </nav>
    <div>
        <form action="/logout" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button id="confirmLogout" class="btnLogout" type="submit">Conferma Logout</button>
        </form>
    </div>
</header>

<nav class="mobile-nav">
    <ul class="mobile-nav__item-list">
        <li class="mobile-nav__item">
            <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
        </li>
        <li class="mobile-nav__item">
            <a class="<%= path === '/matches' ? 'active' : '' %>" href="/matches">Matches</a>
        </li>
        <% if (isAuthenticated) { %>
            <li class="mobile-nav__item">
                <a class="<%= path === '/add-match' ? 'active' : '' %>" href="/add-match">Add Match</a>
            </li>
            <li class="mobile-nav__item">
                <a class="<%= path === '/mymatches' ? 'active' : '' %>" href="/mymatches">My Matches</a>
            </li>
            <% if (isAdministrator) { %>
                <li class="mobile-nav__item">
                    <a class="<%= path === '/listMatch' ? 'active' : '' %>" href="/listMatch">All Matches</a>
                </li>
                <li class="mobile-nav__item">
                    <a class="<%= path === '/listUser' ? 'active' : '' %>" href="/listUser">All Users</a>
                </li>
            <% } %>
        <% } %>
        <% if (!isAuthenticated) { %>
            <li class="mobile-nav__item">
                <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
            </li>
            <li class="mobile-nav__item">
                <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Signup</a>
            </li>
        <% } else { %>
            <li class="mobile-nav__item">
                <a class="<%= path === '/profile' ? 'active' : '' %>" href="/myprofile">My Profile</a>
            </li>
            <li class="mobile-nav__item">
                <button onclick="popup2()" id="logoutButton" type="submit">Logout</button>
            </li>
        <% } %>
    </ul>
    <div>
        <form action="/logout" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btnLogout" id="confirmLogout2" type="submit">Conferma Logout</button>
        </form>
    </div>
</nav>