<%- include('../includes/head.ejs') %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/profilo.css">
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
    <link rel="stylesheet" href="/css/login.css">

</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <div class="main-content">
        <!-- Header -->
        <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url('../img/background.jpg'); background-size: cover; background-position: center top;">
        <!-- Mask -->
            <span class="mask bg-gradient-default opacity-7"></span>
            <!-- Page content -->
            <div class="container-fluid mt--7">
                <div class="row justify-content-center">
                    <div class="col-xl-4 order-xl-1 mb-5 mb-xl-0">
                        <div class="card card-profile shadow">
                            <div class="row justify-content-center">
                                <div class="col-lg-3 order-lg-2">
                                    <div class="card-profile-image">
                                        <a title="football icons">
                                            <img src="../img/football-players.png" class="rounded-circle">
                                        </a>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                            </div>
                            <div class="card-body pt-0 pt-md-4">
                                <div class="text-center">
                                    <form class="login100-form validate-form" action="/myprofile/editpass" method="POST">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <input type="hidden" value="<%= primaModifica %>" name="primaModifica">
                                        <% if (errorMessage) { %>
                                            <div class="flex-c-m">
                                                <div class="popout error-message"><%= errorMessage %></div>
                                            </div>
                                        <% } %> 
                                        <% if (primaModifica) { %>
                                            <div class="wrap-input100 validate-input m-b-23">
                                                <span class="label-input100">Old Password</span>
                                                <input
                                                    class="<%= validationErrors.find(e => e.param == 'oldPassword') ? 'input100-invalid' : 'input100' %>"
                                                    placeholder="Type your Old password" required
                                                    type="password" name="oldPassword" id="oldPassword" required value="<%= oldInput.oldPassword %>">
                                                <span class="focus-input100" data-symbol="&#xf190;"></span>
                                            </div>
                                        <% } %>
                                        <div class="wrap-input100 validate-input m-b-23">
                                            <span class="label-input100">New Password</span>
                                            <input
                                                class="<%= validationErrors.find(e => e.param == 'newPassword') ? 'input100-invalid' : 'input100' %>"
                                                placeholder="Type a New password" required
                                                type="password" name="newPassword" id="newPassword" required value="<%= oldInput.newPassword %>">
                                            <span class="focus-input100" data-symbol="&#xf190;"></span>
                                        </div>
                                        <div class="wrap-input100 validate-input m-b-23">
                                            <span class="label-input100">Confirm Password</span>
                                            <input
                                                class="<%= validationErrors.find(e => e.param == 'confirmPassword') ? 'input100-invalid' : 'input100' %>"
                                                placeholder="Confirm the New password" required
                                                type="password" name="confirmPassword" id="confirmPassword" required value="<%= oldInput.confirmPassword %>">
                                            <span class="focus-input100" data-symbol="&#xf190;"></span>
                                        </div>
                                        <div class="container-login100-form-btn">
                                            <div class="wrap-login100-form-btn">
                                                <div class="login100-form-bgbtn"></div>
                                                <button class="login100-form-btn">Conferma Modifica</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include('../includes/end.ejs') %>

