<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/match.css">
    <link rel="stylesheet" href="/css/add-match.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/util.css">
</head>

<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script>
    function showDate() {
        let matchDate = document.getElementById("time");
        matchDate.type = "datetime-local"
    }
</script>

<body>
   <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (errorMessage) { %>
            <div class="flex-c-m">
                <div class="popout error-message"><%= errorMessage %></div>
            </div>
        <% } %>
        <div class="container">
            <div class="card">
                <h2 class="card-heading">Edit this match!</h2>
                <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_VB3ALHSv6V.json"  background="transparent"  speed="0.2"  style="width: auto; height: auto;"  loop  autoplay></lottie-player>
                <form class="card-form" action="/<% if (editing) { %>edit-match<% } else { %>add-match<% } %>" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="hidden" value="<%= match._id %>" name="matchId">
                    <div class="wrap-input100 validate-input m-b-23">
                        <span class="label-input100">Titolo della partita</span>
                        <input
							class="<%= (errorMessage) ? 'input100-invalid' : 'input100' %>"
                            value="<% if (editing || hasError) { %><%= match.title %><% } %>"
                            type="text" name="title" id="title" required>
                        <span class="focus-input100" data-symbol="&#xf187;"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-23">
                        <span class="label-input100">Luogo</span>
                        <input
							class="<%= (errorMessage) ? 'input100-invalid' : 'input100' %>"
                            value="<% if (editing || hasError) { %><%= match.placeName %><% } %>"
                            type="text" name="placeName" id="placeName" required>
                        <span class="focus-input100" data-symbol="&#xf299;"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-23">
                        <span class="label-input100">Indirizzo</span>
                        <input
							class="<%= (errorMessage) ? 'input100-invalid' : 'input100' %>"
                            value="<% if (editing || hasError) { %><%= match.address %><% } %>"
                            type="text" name="address" id="address" required>
                        <span class="focus-input100" data-symbol="&#xf196;"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-23">
                        <span class="label-input100">Quando?</span>
                        <input
							class="<%= (errorMessage) ? 'input100-invalid' : 'input100' %>"
                            onfocus="showDate()"
                            value="<% if (editing || hasError) { %><%= match.time %><% } %>"
                            name="time" id="time" required>
                        <span class="focus-input100" data-symbol="&#xf32e;"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-23">
                        <span class="label-input100">Numero di giocatori</span>
                        <input
							class="<%= (errorMessage) ? 'input100-invalid' : 'input100' %>"
                            value="<% if (editing || hasError) { %><%= match.totalPlayers %><% } %>"
                            type="number" name="totalPlayers" id="totalPlayers" step="1" required>
                        <span class="focus-input100" data-symbol="&#xf212;"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-23">
                        <span class="label-input100">Prezzo</span>
                        <input
							class="<%= (errorMessage) ? 'input100-invalid' : 'input100' %>"
                            value="<% if (editing || hasError) { %><%= match.price %><% } %>"
                            type="number" name="price" id="price" step="0.50" required>
                        <span class="focus-input100" data-symbol="&#xf19a;"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-23">
                        <span class="label-input100">Descrizione</span>
                        <input
							class="<%= (errorMessage) ? 'input100-invalid' : 'input100' %>"
                            value="<% if (editing || hasError) { %><%= match.description %><% } %>"
                            type="text" name="description" id="description" required>
                        <span class="focus-input100" data-symbol="&#xf262;"></span>
                    </div>
                    <div class="action">
                        <button class="action-button" type="submit">Update Match</button>
                    </div>
                    <br>
                </form>
            <div/>
        </div>
    </main>

<%- include('../includes/end.ejs') %>