<%- include('../includes/head.ejs') %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/profilo.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <div class="main-content">
        <!-- Header -->
        <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url('../img/background.jpg'); background-size: cover; background-position: center top;">
        <!-- Mask -->
            <span class="mask bg-gradient-default opacity-7"></span>
            <!-- Page content -->
            <div class="container-fluid mt--7">
                <div class="row justify-content-center">
                    <div class="col-xl-4 order-xl-1 mb-5 mb-xl-0">
                        <div class="card card-profile shadow">
                            <div class="row justify-content-center">
                                <div class="col-lg-3 order-lg-2">
                                    <div class="card-profile-image">
                                    <a title="football icons">
                                        <img src="../img/football-players.png" class="rounded-circle">
                                    </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                                <div class="d-flex justify-content-between">
                                    <a class="btn btn-sm btn-primary" href="/editUser/<%= user.usrName %>?edit=true">Modifica il<br />tuo Profilo</a>
                                    <a class="btn btn-sm btn-primary" href="/myprofile/editpass">Modifica<br />Password</a><!-- TODO implementa modifca password -->
                                </div>
                            </div>
                            <div class="card-body pt-0 pt-md-4">
                                <div class="row">
                                    <div class="col">
                                        <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                                            <div>
                                                <span class="heading">0</span>
                                                <span class="description">Partite</span>
                                            </div>
                                            <div>
                                                <span class="heading">0</span>
                                                <span class="description">Vittorie</span>
                                            </div>
                                            <div>
                                                <span class="heading">0</span>
                                                <span class="description">Sconfitte</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <h3><%= user.usrName %></h3>
                                    <h3><%= user.nome %> <%= user.cognome %>
                                        <span class="font-weight-light">, <%= user.attribute.age %></span>
                                    </h3>
                                    <div class="h5 font-weight-300">
                                        <i class="ni location_pin mr-2"></i><%= user.attribute.address.city %>, <%= user.attribute.address.state %>
                                    </div>
                                    <div class="h5 font-weight-300">
                                        <i class="ni location_pin mr-2"></i>Telefono: +39-<%= user.attribute.numTel %>
                                    </div>
                                    <div class="h5 mt-4">
                                        <i class="ni business_briefcase-24 mr-2"></i><%= user.attribute.playRole %> - Piede preferito: <%= user.attribute.foot %>
                                    </div>
                                    <div>
                                        <i class="ni education_hat mr-2"></i>Squadra del cuore: <%= user.attribute.squad %>
                                    </div>
                                    <hr class="my-4">
                                    <p>Bio:</p>
                                    <p><%= user.attribute.bio %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include('../includes/end.ejs') %>
