<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (ms.length > 0) { %>
            <div class="grid">
                <% for (let match of ms) { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title"><%= match.title %></h1>
                        </header>
                        <div class="card__image">
                            <img src="https://cdn3.iconfinder.com/data/icons/choosesport/png/512/football.png"
                                alt="<%= match.title %>">
                        </div>
                        <div class="card__content">
                            <h1 class="product__price">Players left: <%= match.totalPlayers %></h1>
                            <h2 class="product__price">Where: <%= match.placeName %></h2>
                            <h3 class="product__price">$<%= match.price %></h3>
                            <p class="product__description"><%= match.description %></p>
                        </div>
                        <div class="card__actions">
                                <a href="/matches/<%= match._id %>" class="btn">Details</a>
                        </div>
                    </article>
                <% } %>
            </div>
        <% } else { %>
            <h1>No Products Found!</h1>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>