<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
        <main class="centered">
            <h1><%= m.title %></h1>
            <hr>
            <div class="image">
                <img src="https://cdn3.iconfinder.com/data/icons/choosesport/png/512/football.png" alt="<%= m.title %>">
            </div>
            <h1>Players left: <%= m.totalPlayers - m.currentPlayers %></h1>
            <h2>Where: <%= m.placeName %></h2>
            <h3>$<%= m.price %></h3>
            <p><%= m.description %></p>
            <% if (isAuthenticated) { %>
            <a href="/matches/<%= m._id %>/join" class="btn">Join</a>
            <% } %>
        </main>
    <%- include('../includes/end.ejs') %>
