<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/match.css">
    <link rel="stylesheet" href="/css/chat.css">
    <link rel="stylesheet" href="/css/reactions.css">
    <script src='/socket.io/socket.io.js'></script>

</head>

<script src="/js/chatClient.js"></script>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main class="centered">
        <h1><%= m.title %></h1>
        <hr>
        <div class="grid">
            <article class="card match-item">
                <header class="card__header">
                    <h1 class="match__title">Dettagli Partita</h1>
                </header>
                <hr>
                <div class="card__content">
                    <h2>Giocatori mancanti: <%= m.totalPlayers - m.currentPlayers %></h2><br>
                    <h2 class="match__place">Dove: <%= m.placeName %></h2><br>
                    <h2 class="match__place">Quando: <%= m.time.getDate().toString() + "-" + (m.time.getMonth()+1).toString() + "-" + m.time.getFullYear().toString() %></h2><br>
                    <h2 class="match__price"><%= m.price %>€</h2><br>
                    <p class="match__description"><%= m.description %></p>
                </div>
                <div class="card__actions">
                    <% if (isAuthenticated) { %>
                        <% if (is_full && is_in) { %>
                            <a href="/matches/<%= m._id %>/unjoin" class="btn">Esci dalla partita</a>
                        <% } else if(is_full && !is_in) { %>  
                            <h1 class="text-purple">La partita è piena!</h1>
                        <% } else { %>
                            <a href="/matches/<%= m._id %>/<% if (!is_in) { %>join<% } else { %>unjoin<% } %>" class="btn">
                                <% if (!is_in) { %> Aggiungiti <% } else { %> Esci dalla partita <% } %> 
                            </a>
                        <% }%>
                    <% } %>
                </div>
                <% if (isAuthenticated && is_in && isOver) { %>
                    <%- include('../includes/voting.ejs') %>
                <% } %>
                <br>
            </article>
            <article class="card match-item">
                <header class="card__header">
                    <h1 class="match__title">Players list<i class="fa fa-futbol-o"></i></h1>
                </header>
                <hr>
                <div class="card__content">
                    <h2 class="player__list">
                        <% for (let players of m.listPlayers.players) { %>
                            <h2><%= players.userId.usrName %></h2>
                        <% } %>
                    </h2>
                </div>
                <br>
            </article>
            <% if (isAuthenticated && is_in) { %>
                <article class="card chat-item">
                    <header class="card__header">
                        <h1 class="match__title">Chat</h1>
                    </header>
                    <hr>
                    <div class="card__content">
                        <div class="chat" id="scratchPad">
                            <% if (chat.length > 0) { %>
                                <% for (let message of chat) { %>
                                    <div class="messages-chat">
                                        <% if(message.name == user){ %>
                                            <div class="message">
                                                <p class="text"><%= message.msg %></p>
                                            </div>
                                            <p class="time"><%= message.date %></p>
                                        <% } else {%>
                                            <div class="receive-message">
                                                <p class="receive-text"><%= message.msg %></p>
                                            </div>
                                            <p class="receive-time"><%= message.date %> <strong><%= message.name %></strong></p>
                                        <% } %>
                                    </div>
                                <% } %>
                            <% } %>
                        </div>
                        <div id="container" class="footer-chat">
                            <input type="text" class="write-message" id="chatMessage" name="chat-message" placeholder="Type your message here"></input>
                            <i id="sendM" class="icon send fa fa-paper-plane-o clickable" aria-hidden="true"></i>
                        </div>
                    </div>
                </article>
            <% } %>
        </div>
    </main>
    <p id="roomId" class="dis-none"><%= m._id %></p>
    <p id="userChat" class="dis-none"><%= user %></p>
    <p id="isAuth" class="dis-none"><%= isAuthenticated %></p>

<%- include('../includes/end.ejs') %>