<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/match.css">

</head>

<body class="blueShade">
    
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (ms.length > 0) { %>
            <div class="grid">
                <% for (let match of ms) { %>
                    <% const ore = match.time.getHours().toString().padStart(2, '0');%>
                    <% const minuti = (match.time.getMinutes() ).toString().padStart(2, '0'); %>
                    <article class="card match-item" onclick="location.assign('/matches/<%= match._id %>')">
                        <header class="card__header">
                            <h1 class="match__title"><%= match.title %></h1>
                            <h2 class="match__playerCount"><%= match.totalPlayers /2 %> vs <%= match.totalPlayers /2 %></h2>
                        </header>
                        <div class="card__image">
                            <img src="/img/field.png" alt="<%= match.title %>">
                        </div>
                        <div class="card__content">
                            <% if (match.currentPlayers == match.totalPlayers) { %>
                                <h2 class="match__playerCount">La partita è piena</h2>
                            <% } else { %>
                                <h2 class="text-center">Cerchiamo:</h2>
                                <h2 class="match__playerCount__in"><%= match.totalPlayers - match.currentPlayers %></h2>
                                <h2 class="text-center">giocatori!</h2>
                            <% } %>
                            <br>
                            <h2 class="match__place"><%= match.placeName %></h2>
                            <h2 class="match__place"><%= match.time.getDate().toString()+"-"+(match.time.getMonth()+1).toString()+"-"+match.time.getFullYear().toString() %></h2>
                            <h2 class="match__place"> <%= ore + ":"+ minuti %></h2><br>
                            <h2 class="match__price"><%= match.price %>€</h2><br>
                            <p class="match__description"><%= match.description %></p>
                        </div>
                        <div class="card__actions">
                            <a href="/matches/<%= match._id %>" class="btn">Dettagli partita</a>
                            <% if (isAuthenticated) { %>
                                <% if (match.currentPlayers != match.totalPlayers) { %>
                                    <a href="/matches/<%= match._id %>/join" class="btn">Aggiungiti alla partita</a>
                                <% } %>
                            <% } %>
                        </div>
                        <br>
                    </article>
                <% } %>
            </div>
            <%- include('../includes/pagination.ejs', {currentPage: currentPage, nextPage: nextPage, previousPage: previousPage, lastPage: lastPage, hasNextPage: hasNextPage, hasPreviousPage: hasPreviousPage}) %>
        <% } else { %>
            <h1>Nessuna partita trovata, creane una nuova</h1>
        <% } %>
    </main>

    <script src="/js/playerCounter.js"></script>

<%- include('../includes/end.ejs') %>