<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/match.css">
    
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main class="centered">
        <h1><%= m.title %></h1>
        <hr>
        <div class="image">
            <img src="/img/field.png" alt="<%= m.title %>">
        </div>
        <% if (playerIn && can_unjoin){ %>
            <form action="/matches/:matchId/unjoin" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input type="hidden" value="<%= m._id %>" name="matchId">
                <button class="btn" type="submit">Confirm UnJoin!</button>
            </form>
            <br><br>
            <!-- <a class="btn" href="/matches/:matchId">Torna ai dettagli!</a> -->
        <% } else if (!playerIn && can_unjoin) { %>
            <h1 class="text-purple">You're not in this match!</h1>
        <% } else {%>
            <h1 class="text-purple">You can't leave 24h before the match! </h1>
        <% } %>    
       
    </main>
    
<%- include('../includes/end.ejs') %>